extends layout

block content
  h1= title
  p User the drop down list to find UseNet providers. Pretty cool, right?


block list
  div(class='dropdown')
    button(class='btn btn-default dropdown-toggle', type='button', id='serviceMenu', data-toggle='dropdown')      Choose Current Provider
      span(class='caret')
    ul(class='dropdown-menu', id='serviceoption', aria-labelledby='serviceMenu')

  // select#serviceoptionOld(onchange='selectprimary(this)')
  div#primary(class='selected-provider')

  select#blockoptions(hidden)
    
